<body>
  
  <div class="card" style="width: 30rem;">
    <div class="card-body">
      <h3 class="card-title" style="color: cadetblue; margin-left: 45px;">Flight cancel notification</h3>
      <p class="card-text" style="color: brown;">{{message1}}</p>
      <p class="card-text" style="color: chocolate;">{{message2}}</p>
      <p class="card-text" style="color: darkgreen;">{{message3}}</p>
      <p class="card-text" style="color: rgb(243, 70, 84);">{{message4}}</p>
      <p class="card-text" style="color: gold;">{{message5}}</p>
      <p class="card-text" style="color: indigo;">{{message6}}</p>
      <p class="card-text" style="color: khaki;">{{message7}}</p>
      <p class="card-text" style="color: lightgreen;">{{message8}}</p>
      <p class="card-text" style="color: lightpink;">{{message9}}</p>
      <p class="card-text" style="color: maroon;">{{message10}}</p>
    </div>
  </div>
  </body>
  