<div class="jumbotron">
  <div class="alert alert-danger" *ngIf='failure'>{{failure}}</div>
  <div class="alert alert-success" *ngIf='success'>{{success}}</div>
  <div class="background">
  <div class="container mt-3">
      <table class="table table-bordered table-hover">
          <thead class="thead-dark">
              <tr>
                  <th>Flight Id</th>
                  <th>Source City</th>
                  <th>Destination City</th>
                  <th>Take Off Time</th>
                  <th>Flight Arrival Time</th>
                  <th>Flight Price</th>
                  <th>Day Of Flying</th>
                  <th>Departure Date</th>
                  
              </tr>
          </thead>
          <tbody>
              <tr *ngFor= 'let flight of Flights'>
                  <td>{{flight.flightId}}</td>
                  <td>{{flight.sourceCity}}</td>
                  <td>{{flight.destinationCity}}</td>
                  <td>{{flight.takeOffTime}}</td>
                  <td>{{flight.arrivalTime}}</td>
                  <td>{{flight.priceOfFlight}}</td>
                  <td>{{flight.flightDay}}</td>
                  <td>{{flight.departuredate}}</td>
                
                     
              </tr>
          </tbody>
      </table>
  </div>
  </div>
  </div>
  <div class="footer">
    <footer> <small>&copy; Copyright {{currentYear}}, Quinnox Airline Corporation</small> </footer> 
  </div>